.map-section {
    margin-bottom: var(--spacing-block);
  }
  
  .map-header {
    background-color: #000;
    color: #fff;
    padding: 24px 16px;
  }
  
  .title {
    margin: 0;
    font-size: var(--h2-font-size);
  }
