.textarea-wrapper {
  flex: 1;
  min-width: 0;
  position: relative;
  padding-bottom: 24px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: var(--p-font-size);
  }
  
  .textarea {
    width: 100%;
    padding: var(--spacing-select);
    height: 156px;
    border: none;
    font-size: var(--p-font-size);
    resize: none; 
    background: var(--form-background);
    color: var(--color-foreground);
  
    &:focus {
      outline: none;
    }
  }
  
  .error {
    background: #3f0a0e;
  }
  
  .error-message {
    min-height: 20px;
    position: absolute;
    bottom: 8px;
    left: 0;
    color: var(--error-color);
    font-size: 12px;
  }
  